attrs==16.3.0
descartes==1.0.2
matplotlib==1.5.3
numpy==1.11.3
opencv-python==3.1.0.3
protobuf==3.1.0
rasterio==0.36.0
Shapely==1.5.17.post1
scikit-learn==0.18.1
scipy==0.18.1
tensorflow==0.12.1
tensorboard-logger==0.0.3
tifffile==0.10.0
tabulate==0.7.7
tqdm==4.11.2
# pytorch
